#test3{
    text-align: center;  
}
#submit{
    text-align: center;
}
.test1{
    text-decoration: underline black;/*文本颜色*/
    text-indent: 100px;/*首行缩进*/
    font-family: 'Times New Roman', Times, serif; /*  改变字体 */
    font-size: 2.5em;/*字体大小*/
    font-style: oblique;/*斜体*/
    font-weight: 900; /*字体粗度*/
}
.ex1 {
	direction:rtl;
	unicode-bidi: bidi-override; 
}
.ex2{
    direction:rtl;
    unicode-bidi: bidi-override; 
}
.a{
    list-style: circle
}
.b{
    list-style: lower-alpha;
}
#test2{
    line-height: 25px;
    max-height: 25px;
}